{{#basic-dropdown as |dd|}}
  {{#dd.trigger tagName='a' class="user-dropdown"}}{{ui-icon 'chevron-circle-down'}}{{/dd.trigger}}
  {{#dd.content class="user-dropdown-content"}}
    <div id="triangle-up"></div>
    <ul>
      <li>
        group
      </li>
    </ul>
  {{/dd.content}}
{{/basic-dropdown}}
