<div class="panel">
  <div class="panel-body card">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="dash-circle">
          <span class="dash-circle-number">
            {{hours-worked userLogs}}
          </span>
        </div>
        <h3 class="settings-user">Hours Worked</h3>
      </div>
    </div>
  </div>
</div>
