<div class="row">
  <div class="col-xs-3">
    <h4 class="title">Users</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-body card">
        {{users-list statuses=model}}
      </div>
    </div>
  </div>
</div>
