<div class="login-container">
  <h2 id="login-message">Realtime code monitoring for team software development</h2>
  <button {{action 'login'}} class="login-btn">
    <img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
  </button>
  <br><br>
  <label class="loader"></label>
  <h4 class="status">Synchronizing user and team data...</h4>
</div>
